---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import Headerbutton from './Headerbutton.astro';
import { getBadge } from '@services//badges';
import links from '@data/links.json';
import Social from './Social.astro';
import Logo from '@images/logo.svg';

const url = Astro.url.pathname;

let activeLink = url;

if (url.indexOf('/portfolio') !== -1) {
  activeLink = '/portfolio';
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/badges/*.svg'
);
---

<nav
  class="bg-indigo-950 bg-opacity-30 backdrop-filter backdrop-blur-lg fixed top-0 w-full shadow-md z-50"
>
  <div class="mx-auto md:max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-indigo-400 hover:bg-indigo-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
          onclick="toggleMobileMenu()"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <Image src={Logo} alt="CGCApps" class="h-8 w-auto" />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            {
              links.map((link) => (
                <Headerbutton
                  href={link.url}
                  isActive={activeLink === link.url}
                >
                  <Image
                    src={images[`/src${getBadge(link.icon)}`]()}
                    alt={link.icon}
                    class="w-5 h-5"
                  />
                  &nbsp;{link.text}
                </Headerbutton>
              ))
            }
          </div>
        </div>
      </div>

      {
        url !== '/' && (
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-end">
            <Social />
          </div>
        )
      }
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="sm:hidden absolute z-10 w-full bg-indigo-950"
    id="mobile-menu"
    style="display:none"
  >
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      {
        links.map((link) => (
          <Headerbutton
            href={link.url}
            isActive={url === link.url}
            itemsAlign="start"
          >
            <Image
              src={images[`/src${getBadge(link.icon)}`]()}
              alt={link.icon}
              class="w-5 h-5"
            />
            &nbsp;{link.text}
          </Headerbutton>
        ))
      }
    </div>
  </div>
</nav>

<script is:inline>
  function toggleMobileMenu() {
    const mobileMenu = document.getElementById('mobile-menu');
    if (mobileMenu) {
      if (mobileMenu.style.display === 'none') {
        mobileMenu.style.display = 'block';
      } else {
        mobileMenu.style.display = 'none';
      }
    }
  }
</script>
