---
import SkillList from "@components/SkillList.astro";
import Section from "@components/Section.astro";
import ScrollReveal from "@components/ScrollReveal.astro";

import skills from "@data/skills.json";

const maxExperience =
    new Date().getFullYear() -
    Math.min(
        ...[...skills.languages, ...skills.other]
            .filter((skill) => skill.since > 0)
            .map((skill) => skill.since),
    );
const sortedLanguages = skills.languages.sort((a, b) => a.since - b.since);
const sortedOther = skills.other.sort((a, b) => a.since - b.since);
---

<Section title="Stack" name="skills">
    <ScrollReveal delay={0} direction="up">
        <SkillList
            title="Development"
            list={sortedLanguages}
            maxExp={maxExperience}
        />
    </ScrollReveal>

    <ScrollReveal delay={100} direction="up">
        <SkillList
            title="Tools & Tech"
            list={sortedOther}
            maxExp={maxExperience}
        />
    </ScrollReveal>

    <ScrollReveal delay={200} direction="up">
        <SkillList
            title="Soft skills"
            list={skills.soft}
            maxExp={maxExperience}
        />
    </ScrollReveal>
</Section>
