---
import Layout from '@layouts/Layout.astro';
import Tech from '@components/Tech.astro';
import projects from '@data/projects.json';
import { type Project } from '@types';
import { getBadge } from '@services/badges';
import Headerbutton from '@components/Headerbutton.astro';

export const getStaticPaths = () => {
  return projects.map((project: Project) => {
    return {
      params: {
        slug: project.slug,
      },
      props: {
        project,
      },
    };
  });
};

const { project } = Astro.props;
---

<Layout title={project.name}>
  <Headerbutton href="/portfolio" itemsAlign="start">
    <img
      slot="before"
      src={getBadge('ArrowLeft')}
      alt="ArrowLeft"
      class="w-5 h-5 text-white"
    />
     &nbsp;Go back
  </Headerbutton>
  <h1
    class="text-3xl font-bold text-indigo-100 px-4 py-2"
    transition:name={`${project.slug}-project-name`}
  >
    {project.name}
  </h1>

  <div
    class="mt-1 mb-5 h-80 w-full p-4 items-end bg-contain bg-center rounded bg-fixed"
    style={{
      backgroundImage: `url(${project.image})`,
    }}
    transition:name={`${project.slug}-project-image`}
  >
    <div
      class="grid grid-flow-col auto-cols-max px-2"
      transition:name={`${project.slug}-project-stack`}
    >
      {project.stack.map((tech) => <Tech tech={tech} size="md" />)}
    </div>
  </div>

  <p>{project.longDescription}</p>

  {
    project.video && (
      <div class="mt-4 p-4 text-center">
        <h4 class="text-xl font-bold text-indigo-100">Demo</h4>
        <video
          controls
          src={project.video}
          muted
          class="w-full"
          transition:name={`${project.slug}-project-video`}
        />
        <p>{project.videoDescription}</p>
      </div>
    )
  }

  <div class="mt-4 p-4 text-center">
    {
      project.github && (
        <Headerbutton href={project.github} itemsAlign="start">
          <img
            slot="before"
            src={getBadge('Github')}
            alt="Github"
            class="w-5 h-5"
          />
          &nbsp;Go to repo
        </Headerbutton>
      )
    }
    {
      project.website && (
        <Headerbutton href={project.website} itemsAlign="start" target="_blank">
          <img
            slot="before"
            src={getBadge('Website')}
            alt={project.website}
            class="w-5 h-5"
          />
          &nbsp;Go to website
        </Headerbutton>
      )
    }
  </div>
</Layout>
